@import "~src/common_styles/colors";
.reset-wrp {
  >div {
    margin-top: 100px;
  }
}
form {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 6px $shadow;
  a,
  a:hover {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
  }
  .form-controls {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    .control-wrapper {
      input {
        margin: 25px auto;
      }
    }
    button {
      margin: 25px auto;
      width: 250px;
    }
  }
}
h2 {
  font-size: 22px;
  color: $green;
  padding: 15px;
  margin: 25px auto;
  text-align: center;
}