<div class="login d-flex justify-content-center">
  <form 
    class="d-flex flex-column col-12 col-md-4"
    novalidate
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <h2>Log in to continue</h2>
    <div class="form-controls">
      <div class="control-wrapper">
        <input 
          [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }"
          formControlName="email"
          class="form-control" 
          type="email" 
          placeholder="Email">
        <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
          <div *ngIf="loginForm.controls.email.errors.required">Email is mandatory</div>
          <div *ngIf="loginForm.controls.email.errors.email">Email is not valid</div>
        </div> 
      </div>
      <div class="control-wrapper">
        <input 
          [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }"
          formControlName="password"
          class="form-control" 
          type="password" 
          placeholder="Password">
        <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
          <div *ngIf="loginForm.controls.password.errors.required">Password is mandatory</div>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </div>
    <div class="sign-in">
      <p>Not Registered?</p>
      <div class="d-flex">
        <button class="btn btn-secondary" [routerLink]="routerPath.signup" type="button">Sign Up</button>
      </div>
    </div>
  </form>
</div>