@import "~src/common_styles/colors";

.navbar {
  background-color: $ternary_color;
  color: $white;
  border-bottom: 1px solid rgba(126, 132, 140, 0.5);
  box-shadow: 0 1px 6px $shadow;
  .navbar-brand {
    line-height: 44px;
  }
}
fa-icon {
  transition: all 0.2s linear;
  font-size: 24px;
  cursor: pointer;
  color: $green;
}
.left-block {
  display: flex;
  fa-icon:hover {
    color: $white;
  }
  cursor: pointer;
  :focus {
    outline: none;
  }
  h2 {
    padding: 0 15px;
  }
}
.d-md-flex {
  .left-block {
    width: 100%;
    justify-content: space-between;
  }
}
.right-block {
  display: flex;
}
form {
  padding: 0 15px;
  margin: 10px 0;
}
.user {
  letter-spacing: 1px;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  z-index: 999;
  margin: 10px 0;
  p {
    padding: 0 10px;
    font-size: 12px;
    line-height: 40px;
  }
  img {
    height: 40px;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin-top: -5px;
  transition: all 0.3s linear;
  opacity: 0;
  display: none;
}

.dropdown-menu.show {
  transition: all 0.3s linear;
  margin-top: 10px;
  opacity: 1;
  display: block;
}
.modal-body {
  label {
    padding: 15px 5px;
    margin-top: 30px;
    border: 1px dashed;
    text-align: center;
    border-radius: 5px;
    width: 100%;
  }
}

.modal-footer {
  justify-content: space-between;
  img {
    border-radius: 50%;
  }
}
.dropdown-toggle {
  fa-icon {
    transition: transform 0.2s linear;
  }
}
.dropdown-toggle.active {
  fa-icon {
    transition: transform 0.2s linear;
    transform: rotate(180deg);
  }
}
