<div class="registration d-flex justify-content-center">
  <div *ngIf="sended">
    <h2>{{ 'CONFIRMATION_MAIL_SENDED' | translate }}</h2>
  </div>
  <form 
    *ngIf="!sended"
    class="d-flex flex-column col-12 col-md-6 col-lg-4"
    novalidate
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()">
     <h2>{{ 'REGISTRATION_TITLE' | translate}}</h2>
     <div class="form-controls">
      <div class="control-wrapper">
        <input 
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.firstName.errors }"
          formControlName="firstName"
          type="text" 
          placeholder="First Name">
        <div *ngIf="submitted && registrationForm.controls.firstName.errors" class="invalid-feedback">
          <div *ngIf="registrationForm.controls.firstName.errors.required">{{ 'REGISTRATION_FIRSTNAME_MANDATORY' | translate }}</div>
        </div> 
      </div>
      <div class="form-controls">
        <div class="control-wrapper">
          <input 
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.lastName.errors }"
            formControlName="lastName"
            type="text" 
            placeholder="Last Name">
          <div *ngIf="submitted && registrationForm.controls.lastName.errors" class="invalid-feedback">
            <div *ngIf="registrationForm.controls.lastName.errors.required">{{ 'REGISTRATION_LASTNAME_MANDATORY' | translate }}</div>
          </div> 
        </div>
      </div>
      <div class="form-controls">
        <div class="control-wrapper">
          <input 
            class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.email.errors }"
            formControlName="email"
            type="email" 
            placeholder="Email">
            <div *ngIf="submitted && registrationForm.controls.email.errors" class="invalid-feedback">
              <div *ngIf="registrationForm.controls.email.errors.required">{{ 'LOGIN_EMAIL_MANDATORY' | translate }}</div>
              <div *ngIf="registrationForm.controls.email.errors.email">{{ 'LOGIN_EMAIL_INVALID' | translate }}</div>
              <div *ngIf="registrationForm.controls.email.errors.emailExist">
                {{errorMessage | translate}}
              </div>
          </div> 
        </div>
      </div>
      <div class="form-controls">
        <div class="control-wrapper">
          <input 
            class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.password.errors }"
            formControlName="password"
            type="password" 
            placeholder="Password">
          <div *ngIf="submitted && registrationForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="registrationForm.controls.password.errors.required">{{ 'LOGIN_PASSWORD_MANDATORY' | translate }}</div>
            <div *ngIf="registrationForm.controls.password.errors.minlength">{{ 'REGISTRATION_PASSWORD_TO_SHORT' | translate }}</div>
          </div> 
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-primary" type="submit">{{ 'LOGIN_SIGN_UP' | translate }}</button>
      </div>
    </div>
    <div class="log-in">
      <p>{{ 'REGISTRATION_ALREDY_REGISTERED' | translate}}</p>
      <div class="d-flex">
        <button class="btn btn-secondary" [routerLink]="routerPath.login" type="button">{{ 'LOGIN_LOG_IN' | translate }}</button>
      </div>
    </div>
  </form>
</div>