 <!-- Sidebar -->
 <div id="sidebar-wrapper">
    <h3>{{ 'SIDE_USER_PROFILE' | translate }}</h3>
    <ul class="sidebar-nav">
        <li>
            <a href="#">{{ 'SIDE_TOP_10' | translate }}</a>
        </li>
        <li>
            <a href="#">{{ 'SIDE_YOUR_TOP_10' | translate}}</a>
        </li>
        <li>
            <a href="#">{{ 'SIDE_RATED_BY_YOU' | translate}}</a>
        </li>
        <li>
            <a href="#">{{ 'SIDE_PROFILE' | translate}}</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->